.important .admonition-title, .attention .admonition-title {
	display: none;
}

.note .admonition-title {
	font-family: 'Palatino Linotype','Book Antiqua',Palatino,STKaiti,KaiTi,'楷体',SimKai,DFKai-SB,NSimSun,serif;
	font-weight: bold;
	font-size: 16px;
	background: #6ab0de;
	color: #FFF;
	display: block;
	margin: -12px;
	margin-bottom: 10px !important;
	padding: 6px 12px;
	line-height: 1;
}

.admonition p{
	margin: auto;
}

.admonition a{
	color: red; 
}

.important, .attention {
	display: block;
	margin: 20px;
	padding: 15px;
	color: #444;
	border-radius: 5px;
}

.important {
	background-color: #D8F5D8;
	border: 2px solid #AFDFAF;
}

.attention {
	background-color: #FFD2D2;
	border: 2px solid #E0B3B3;
}

.note {
	display: block;
	padding: 12px;
	margin: 20px;
	color: #444;
	border-radius: 5px;
	background-color: #E7F2FA;
	border: 2px solid #6AB0DE;
}
