.md-typeset__table a {
  color: red;
}

.md-typeset__table {
  display: block !important;
}

p img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

img.emojione {
    display: -webkit-inline-box;
    width: 1.5rem;
    vertical-align: text-bottom;
}

/* link in main doc */ 
p a {
  color: blue !important;
}
p a:hover {
  color: red!important;
}

/* link in thead */
th a {
  color: blue !important;
}
th a:hover {
  color: red!important;
}
