<script src="https://giscus.app/client.js"
        data-repo="szcf-weiya/ESL-CN"
        data-repo-id="MDEwOlJlcG9zaXRvcnk2OTYyNTgzOA=="
        data-category="评论区"
        data-category-id="DIC_kwDOBCZn7s4ChHU6"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>


<div id="disqus_thread"></div>
<script>
  // if (window.location.hostname !== "localhost" && window.location.hostname !== "127.0.0.1") {
    var disqus_config = function () {
      this.page.url = "{{ page.canonical_url }}";
      this.page.identifier =
        "{{ page.canonical_url | replace(config.site_url, "") }}";
    };
    (function() {
      var d = document, s = d.createElement("script");
      s.src = "//{{ config.extra.disqus }}.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  // } else {
  //   console.log("Disqus is disabled on localhost.");
  // }
</script>


