.md-typeset__table {
  display: block!important;
}

.md-typeset__table a {
  color: red;
}

/*
table {
  display: table !important;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
*/


p img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

img.emojione {
    display: -webkit-inline-box;
    width: 1.5rem;
    vertical-align: text-bottom;
}

/* link in main doc */
p a {
  color: blue !important;
}
p a:hover {
  color: red!important;
}

/* link in thead */
th a {
  color: blue !important;
}
th a:hover {
  color: red!important;
}

/* toc */
label.md-nav__link {
  font-weight: 550;
  font-size: 1.4em;
}

label.md-nav__title {
  font-weight: lighter;
  font-size: 2em;
}


/* link in list */

.md-typeset ul li a {
  color: blue!important;
}


/* disqus a tag color will inherit the site's link color (https://help.disqus.com/installation/disqus-appearance-tweaks)
*/

#comment a{
  color: #288ce4!important;
}

/* issue */
.comment ul {
  list-style-type: none;
  margin-left: unset;
}

.mjx-mtd:target {
  scroll-margin-top: 5rem!important;
}
