.md-typeset__table a {
  color: red;
}

.md-typeset__table {
  display: block !important;
}

p img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

img.emojione {
    display: -webkit-inline-box;
    width: 1.5rem;
    vertical-align: text-bottom;
}
